{% extends "base.html" %}
{% block content %}
  <h1>Réinitialiser le mot de passe</h1>

  <div class="card">
    <form method="post" action="{{ url_for('reset_password_post', token=token) }}">
      <label>Nouveau mot de passe</label>
      <input type="password" name="password1" required minlength="6" />

      <label style="margin-top:10px;">Confirmer</label>
      <input type="password" name="password2" required minlength="6" />

      <div style="margin-top:12px;">
        <button class="btn" type="submit">Mettre à jour</button>
      </div>
    </form>
  </div>
{% endblock %}
